crypto-bot-finbert.json
{
  "name": "Crypto Trading Bot - FinBERT Strategy",
  "nodes": [
    {
      "parameters": {},
      "id": "5a7d6816-f717-41e6-9214-7c0b73402d23",
      "name": "Start Bot",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        15312,
        3680
      ]
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/dryjins/aib/main/2026/l4/crypto_features_3months.csv",
        "options": {}
      },
      "id": "b0841372-f669-4928-afd6-7785a1c56f2c",
      "name": "1. Load Market Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        15536,
        3680
      ]
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/dryjins/aib/main/2026/l4/crypto_news_3months.csv",
        "options": {}
      },
      "id": "3094aee9-77d3-44e7-9b19-eebe2ed849b6",
      "name": "2. Load News Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        15536,
        3888
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first();\nlet text = '';\nif (typeof input.json === 'string') text = input.json;\nelse if (input.json.data) text = input.json.data;\nelse if (input.binary) text = Buffer.from(input.binary.data.data, 'base64').toString('utf-8');\n\nconst lines = text.split('\\n').filter(l => l.trim());\nconst headers = lines[0].split(',').map(h => h.trim());\n\nconst result = [];\nfor (let i = 1; i < lines.length; i++) {\n  const line = lines[i];\n  if (!line.trim()) continue;\n  const values = [];\n  let current = '';\n  let inQuotes = false;\n  for (let char of line) {\n    if (char === '\"') inQuotes = !inQuotes;\n    else if (char === ',' && !inQuotes) {\n      values.push(current.trim());\n      current = '';\n    } else current += char;\n  }\n  values.push(current.trim());\n  const obj = {};\n  headers.forEach((h, idx) => obj[h] = values[idx] || '');\n  result.push({ json: obj });\n}\nreturn result;"
      },
      "id": "272a3c9f-57fe-4c3a-bc6f-ef792e257726",
      "name": "Parse CSV (Market)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15760,
        3680
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first();\nlet text = '';\nif (typeof input.json === 'string') text = input.json;\nelse if (input.json.data) text = input.json.data;\nelse if (input.binary) text = Buffer.from(input.binary.data.data, 'base64').toString('utf-8');\n\nconst lines = text.split('\\n').filter(l => l.trim());\nconst headers = lines[0].split(',').map(h => h.trim());\n\nconst result = [];\nfor (let i = 1; i < lines.length; i++) {\n  const line = lines[i];\n  if (!line.trim()) continue;\n  const values = [];\n  let current = '';\n  let inQuotes = false;\n  for (let char of line) {\n    if (char === '\"') inQuotes = !inQuotes;\n    else if (char === ',' && !inQuotes) {\n      values.push(current.trim());\n      current = '';\n    } else current += char;\n  }\n  values.push(current.trim());\n  const obj = {};\n  headers.forEach((h, idx) => obj[h] = values[idx] || '');\n  result.push({ json: obj });\n}\nreturn result;"
      },
      "id": "7f861a5b-2a3d-4f69-befc-5be7f9382884",
      "name": "Parse CSV (News)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15760,
        3888
      ]
    },
    {
      "parameters": {
        "jsCode": "const newsByDate = {};\nfor (const item of $input.all()) {\n  let d = item.json.date || (item.json.datetime ? item.json.datetime.split(' ')[0] : '');\n  if (!d) continue;\n  if (!newsByDate[d]) newsByDate[d] = [];\n  newsByDate[d].push(item.json.title);\n}\nreturn [{ json: { newsByDate } }];"
      },
      "id": "05482834-5705-4e57-80df-12a6999b934d",
      "name": "Group News",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15968,
        3888
      ]
    },
    {
      "parameters": {},
      "id": "9197628f-b5ba-4a23-b8b4-99ea8e0093e5",
      "name": "Wait for Both",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        16192,
        3696
      ]
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\nlet newsLookup = {};\nconst marketData = [];\n\nfor (const item of allItems) {\n  if (item.json.newsByDate) newsLookup = item.json.newsByDate;\n  else if (item.json.date) marketData.push(item);\n}\n\nmarketData.sort((a, b) => new Date(a.json.date) - new Date(b.json.date));\n\nconst merged = [];\nfor (const item of marketData) {\n  let d = item.json.date.split(' ')[0];\n  const news = newsLookup[d] || [];\n  const newsText = news.length > 0 ? news.slice(0, 3).join(' | ') : \"Market is quiet today.\";\n\n  merged.push({\n    json: {\n      ...item.json,\n      news_text: newsText,\n      news_count: news.length\n    }\n  });\n}\n\nreturn merged;"
      },
      "id": "7942bce9-24cf-4341-89dc-2e27e1321971",
      "name": "3. Merge Daily Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16384,
        3696
      ]
    },
    {
      "parameters": {
        "jsCode": "// Simple Batch Preparation\nconst allItems = $input.all();\nconst inputsArray = allItems.map(item => item.json.news_text);\n\n// We store original items to merge later\nreturn [{\n  json: {\n    batch_inputs: inputsArray,\n    original_items: allItems.map(i => i.json)\n  }\n}];"
      },
      "id": "92ad2685-1a0e-44e9-b1ef-c78ca4c761dc",
      "name": "4. Prepare Batch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16640,
        3696
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api-inference.huggingface.co/models/ProsusAI/finbert",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\"inputs\": $json.batch_inputs} }}",
        "options": {}
      },
      "id": "a9cd3e2c-7bbd-4acb-a0c3-f6efa2a6eeeb",
      "name": "5. FinBERT Sentiment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        16896,
        3696
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "JpB6Et6rpwyi3AFg",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// НОВАЯ СТРАТЕГИЯ с FinBERT и 6-компонентным скорингом\nconst item = $input.first();\n\n// 1. Get Data\nlet apiResponse = item.json.data || item.json;\nconst prepareNode = $(\"4. Prepare Batch\").first();\nconst originalItems = prepareNode.json.original_items; \n\nif (!originalItems) throw new Error(\"Missing original_items\");\n\n// 2. Normalize API response for FinBERT\nlet sentiments = apiResponse;\n// FinBERT возвращает массив массивов: [[{label, score}, ...], ...]\nif (Array.isArray(apiResponse) && Array.isArray(apiResponse[0])) {\n    sentiments = apiResponse;\n} else if (!Array.isArray(apiResponse)) {\n    sentiments = [apiResponse];\n}\n\n// 3. Setup Portfolio\nconst tickers = [...new Set(originalItems.map(i => i.ticker))]; \nconst initialCapitalPerTicker = 10000 / tickers.length; \nconst ALLOCATION_PERCENT = 0.10; // 10% на сделку\n\nconst portfolio = {};\ntickers.forEach(t => {\n    portfolio[t] = { \n        balance: initialCapitalPerTicker, \n        coin: 0, \n        inPosition: false, \n        entryPrice: 0,\n        lastEquity: initialCapitalPerTicker\n    };\n});\n\n// 4. Processing Loop\nconst trades = [];\nlet totalTrades = 0;\nlet winningTrades = 0;\nlet totalProfit = 0;\nlet totalLoss = 0;\n\nconst loopCount = Math.min(originalItems.length, sentiments.length);\n\nfor (let i = 0; i < loopCount; i++) {\n    const d = originalItems[i];\n    const s = sentiments[i];\n    const ticker = d.ticker;\n    const price = parseFloat(d.price || d.close);\n    \n    const wallet = portfolio[ticker];\n    if (!wallet) continue;\n\n    // --- FinBERT sentiment processing ---\n    let sentimentLabel = 'neutral';\n    let sentimentScore = 0.5;\n    \n    if (Array.isArray(s) && s.length > 0) {\n        // FinBERT возвращает массив с тремя предсказаниями\n        const predictions = s;\n        // Находим предсказание с максимальным score\n        const best = predictions.reduce((max, p) => p.score > max.score ? p : max, {score: 0});\n        sentimentLabel = best.label || 'neutral';\n        sentimentScore = best.score || 0.5;\n    }\n\n    // Конвертируем в числовой сентимент от -1 до 1\n    let numericSentiment = 0;\n    if (sentimentLabel === 'positive') numericSentiment = sentimentScore;\n    else if (sentimentLabel === 'negative') numericSentiment = -sentimentScore;\n    // neutral оставляем 0\n\n    // --- Technical indicators ---\n    const rsi = parseFloat(d.rsi) || 50;\n    const bb_pos = parseFloat(d.bb_position) || 0.5;\n    const macd = parseFloat(d.macd_hist) || 0;\n    const volatility = parseFloat(d.volatility_7d) || 0;\n    const ma7 = parseFloat(d.ma7) || 0;\n    const ma20 = parseFloat(d.ma20) || 0;\n    const close = parseFloat(d.close) || 0;\n\n    // --- Индикаторы на основе MA ---\n    const ma_trend = (ma7 > ma20) ? 1 : (ma7 < ma20) ? -1 : 0;\n\n    // --- Weighted scoring system ---\n    const W_SENTIMENT = 20;\n    const W_RSI = 15;\n    const W_BB = 10;\n    const W_MACD = 8;\n    const W_TREND = 12;\n    const W_VOLATILITY = 5;\n    \n    // Нормализованные компоненты\n    const sentComponent = numericSentiment * W_SENTIMENT;\n    const rsiComponent = ((50 - rsi) / 50) * W_RSI;\n    const bbComponent = ((0.5 - bb_pos) / 0.5) * W_BB;\n    const macdComponent = (macd > 0 ? 1 : -1) * W_MACD * Math.min(Math.abs(macd) * 100, 1);\n    const trendComponent = ma_trend * W_TREND;\n    const volComponent = (volatility < 0.04 ? 1 : -0.5) * W_VOLATILITY;\n    \n    // Итоговый score\n    let score = sentComponent + rsiComponent + bbComponent + macdComponent + trendComponent + volComponent;\n    \n    // --- Risk Management ---\n    let decision = 'hold';\n    let reason = '';\n    \n    if (rsi > 78) {\n        decision = 'sell';\n        reason = `EMERGENCY SELL: RSI=${rsi.toFixed(1)} > 78`;\n    } else if (rsi < 22) {\n        decision = 'buy';\n        reason = `EMERGENCY BUY: RSI=${rsi.toFixed(1)} < 22`;\n    } else if (volatility > 0.08) {\n        decision = 'hold';\n        reason = `HOLD: Extreme volatility ${(volatility*100).toFixed(1)}%`;\n    } else {\n        let buyThreshold = 15;\n        let sellThreshold = -10;\n        \n        if (volatility > 0.05) {\n            buyThreshold = 25;\n            sellThreshold = -15;\n        }\n        \n        if (score >= buyThreshold) {\n            decision = 'buy';\n            reason = `BUY: score=${score.toFixed(1)}`;\n        } else if (score <= sellThreshold) {\n            decision = 'sell';\n            reason = `SELL: score=${score.toFixed(1)}`;\n        } else {\n            decision = 'hold';\n            reason = `HOLD: score=${score.toFixed(1)}`;\n        }\n    }\n\n    if (decision === 'buy' && wallet.inPosition) {\n        decision = 'hold';\n        reason = `HOLD: Already in position`;\n    }\n\n    // --- Execution ---\n    let action = 'none';\n    let pnl = 0;\n\n    if (decision === 'buy' && !wallet.inPosition) {\n        const amountToInvest = wallet.balance * ALLOCATION_PERCENT;\n        wallet.entryPrice = price;\n        wallet.coin = amountToInvest / price;\n        wallet.balance = wallet.balance - amountToInvest;\n        wallet.inPosition = true;\n        action = 'buy';\n        \n    } else if (decision === 'sell' && wallet.inPosition) {\n        const sellValue = wallet.coin * price;\n        pnl = sellValue - (wallet.coin * wallet.entryPrice);\n        \n        if (pnl > 0) {\n            winningTrades++;\n            totalProfit += pnl;\n        } else {\n            totalLoss += Math.abs(pnl);\n        }\n        \n        wallet.balance += sellValue;\n        wallet.coin = 0;\n        wallet.inPosition = false;\n        totalTrades++;\n        action = 'sell';\n    }\n\n    const currentTickerEquity = wallet.inPosition ? (wallet.coin * price) : wallet.balance;\n    wallet.lastEquity = currentTickerEquity; \n\n    trades.push({\n        date: d.date,\n        ticker: ticker,\n        price: price,\n        decision: decision,\n        action: action,\n        pnl: pnl !== 0 ? pnl.toFixed(2) : '',\n        rsi: rsi.toFixed(2),\n        sentiment_label: sentimentLabel,\n        sentiment_score: sentimentScore.toFixed(3),\n        numeric_sentiment: numericSentiment.toFixed(3),\n        equity: currentTickerEquity.toFixed(2),\n        reason: reason,\n        score: score.toFixed(1)\n    });\n}\n\n// 5. Calculate Metrics\nconst dateEquityMap = {};\nconst uniqueDates = [...new Set(trades.map(t => t.date))].sort();\n\ntrades.forEach(t => {\n    if (!dateEquityMap[t.date]) dateEquityMap[t.date] = 0;\n    dateEquityMap[t.date] += parseFloat(t.equity);\n});\n\nconst equityCurve = uniqueDates.map(d => dateEquityMap[d]);\n\nlet peak = -Infinity;\nlet maxDrawdown = 0;\nconst dailyReturns = [];\n\nfor (const eq of equityCurve) {\n    if (eq > peak) peak = eq;\n    const dd = (peak - eq) / peak;\n    if (dd > maxDrawdown) maxDrawdown = dd;\n}\n\nfor (let i = 1; i < equityCurve.length; i++) {\n    const prev = equityCurve[i-1];\n    const curr = equityCurve[i];\n    const ret = prev !== 0 ? (curr - prev) / prev : 0;\n    dailyReturns.push(ret);\n}\n\nconst avgDailyRet = dailyReturns.reduce((a, b) => a + b, 0) / dailyReturns.length || 0;\nconst variance = dailyReturns.reduce((a, b) => a + Math.pow(b - avgDailyRet, 2), 0) / dailyReturns.length || 0;\nconst stdDev = Math.sqrt(variance);\nconst sharpeRatio = stdDev !== 0 ? (avgDailyRet / stdDev) * Math.sqrt(365) : 0;\n\nconst finalTotalEquity = equityCurve[equityCurve.length - 1] || 10000;\nconst totalReturn = ((finalTotalEquity - 10000) / 10000) * 100;\nconst winRate = totalTrades > 0 ? ((winningTrades / totalTrades) * 100) : 0;\n\nreturn [{\n  json: {\n    metric_summary: {\n      \"Total Trades\": totalTrades,\n      \"Win Rate\": winRate.toFixed(2) + \"%\",\n      \"Total Return\": totalReturn.toFixed(2) + \"%\",\n      \"Sharpe Ratio\": sharpeRatio.toFixed(2),\n      \"Max Drawdown\": \"-\" + (maxDrawdown * 100).toFixed(2) + \"%\",\n      \"Final Balance\": \"$\" + finalTotalEquity.toFixed(2)\n    },\n    trade_log: trades\n  }\n}];\n"
      },
      "id": "84b8d250-e797-4d05-bf47-14fa0a527b7c",
      "name": "6. FinBERT Strategy",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        17136,
        3696
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first();\nconst trades = input.json.trade_log;\nconst summary = input.json.metric_summary;\n\nif (!trades) throw new Error(\"No trade data\");\n\nconst header = 'date,ticker,price,decision,rsi,sentiment,reason\\n';\nconst csvRows = trades.map(t => {\n  const safeReason = (t.reason || '').replace(/\"/g, \"'\");\n  return `${t.date},${t.ticker},${t.price},${t.decision},${t.rsi},${t.sentiment_label},\"${safeReason}\"`;\n}).join('\\n');\n\nconst csvContent = header + csvRows;\n\nreturn [{\n  json: {\n    summary: summary,\n    message: \"CSV Ready\"\n  },\n  binary: {\n    data: {\n      data: Buffer.from(csvContent).toString('base64'),\n      mimeType: 'text/csv',\n      fileName: 'final_results.csv'\n    }\n  }\n}];"
      },
      "id": "c8482903-5519-48a6-9210-f64c53743bf1",
      "name": "7. Export CSV",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        17392,
        3696
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Start Bot": {
      "main": [
        [
          {
            "node": "1. Load Market Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "2. Load News Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Load Market Data": {
      "main": [
        [
          {
            "node": "Parse CSV (Market)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Load News Data": {
      "main": [
        [
          {
            "node": "Parse CSV (News)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse CSV (Market)": {
      "main": [
        [
          {
            "node": "Wait for Both",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse CSV (News)": {
      "main": [
        [
          {
            "node": "Group News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Group News": {
      "main": [
        [
          {
            "node": "Wait for Both",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Wait for Both": {
      "main": [
        [
          {
            "node": "3. Merge Daily Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Merge Daily Data": {
      "main": [
        [
          {
            "node": "4. Prepare Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. Prepare Batch": {
      "main": [
        [
          {
            "node": "5. FinBERT Sentiment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5. FinBERT Sentiment": {
      "main": [
        [
          {
            "node": "6. FinBERT Strategy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6. FinBERT Strategy": {
      "main": [
        [
          {
            "node": "7. Export CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "c53f8353-d6eb-4330-b449-ad6bb1e189aa",
  "meta": {
    "instanceId": "ca2fef4ed1b78af4558e3c6f7963f13072b84e5a1f5f21bc17875149a33afe4f"
  },
  "id": "bmaq4tNfl1mYZvrx",
  "tags": []
}
